@using TmdbApi.Lib.Enum

@model Media;

@{
    ViewData["Title"] = @Model.TMDBData.PersonIdResult.name;

    Gender gender = (Gender)Model.TMDBData.PersonIdResult.gender;

    string dob = "Unknown";

    if (!string.IsNullOrEmpty(Model.TMDBData.PersonIdResult.birthday))
    {
        DateTime zeroTime = new DateTime(1, 1, 1);

        TimeSpan span = DateTime.Now - Convert.ToDateTime(Model.TMDBData.PersonIdResult.birthday);

        int years = (zeroTime + span).Year - 1;

        dob = string.Format("{0} ({1} years old)", Convert.ToDateTime(Model.TMDBData.PersonIdResult.birthday).ToString("dd/MM/yyyy"), years.ToString());
    }
}

<h3>@Model.TMDBData.PersonIdResult.name</h3>

<p></p>

@{
    string castProfilePicUrl = string.Empty;

    castProfilePicUrl = "https://image.tmdb.org/t/p/original" + @Model.TMDBData.PersonIdResult.profile_path;

    @if (string.IsNullOrEmpty(Model.TMDBData.PersonIdResult.profile_path))
    {
        <img id="Cinema.jpg" class="filmTvDetailPosterImgSize" src="~/Images/Cinema.jpg" />
    }
    else
    {
        <img src="@castProfilePicUrl" class="filmTvDetailPosterImgSize" />
    }
}

<p></p>

<form method="post" asp-action="MarkFavoriteActor">

    <input type="hidden" asp-for="@Model.TMDBData.PersonIdResult.id" />

    <button type="submit" class="btn btn-primary">Mark Favorite Actor</button>

</form>

<p></p>

<div class="card border-secondary mb-3" style="width: 100%">
    <div class="card-header">General Information:</div>
    <div class="card-body">
        <li>Known For: @Model.TMDBData.PersonIdResult.known_for_department</li>
        <li>Gender: @gender</li>
        <li>Date Of Birth: @dob</li>
        <li>Place Of Birth: @Model.TMDBData.PersonIdResult.place_of_birth</li>
    </div>
</div>

<p></p>

<div class="card border-secondary mb-3" style="width: 100%">
    <div class="card-header">Biography:</div>
    <div class="card-body">
        @Model.TMDBData.PersonIdResult.biography
    </div>
</div>

<p></p>

<h4>Credits - Film:</h4>

<p></p>

<table class="siteTheme" style="width:100%">
    <thead>
        <tr>
            <th class="siteTheme">
                Poster:
            </th>
            <th class="siteTheme">
                Year:
            </th>
            <th class="siteTheme">
                Title/Role:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.TMDBData.CombinedCreditsByPersonId.cast.Where(item => item.media_type == "movie").OrderByDescending(item => item.release_date))
        {
            @if (!string.IsNullOrEmpty(obj.release_date))
            {
                <tr>
                    <td class="siteTheme" style="width:58px; text-align: center;">
                        @{
                            string filmPosterUrl = "https://image.tmdb.org/t/p/original" + obj.poster_path;

                            <a href="@Url.Action("GetUserFilmSelectionById", "Movie", new { id = obj.id })">

                                @if (string.IsNullOrEmpty(obj.poster_path))
                                {
                                    <img id="Cinema.jpg" class="personCreditsImgSize" src="~/Images/Cinema.jpg" />
                                }
                                else
                                {
                                    <img src="@filmPosterUrl" class="personCreditsImgSize" />
                                }

                            </a>
                        }
                    </td>
                    <td class="siteTheme" style="width: 45px;">
                        @{
                            @Convert.ToDateTime(obj.release_date).Year.ToString();
                        }
                    </td>
                    <td class="siteTheme">
                        <b>@obj.original_title</b><br />

                        @if(!string.IsNullOrEmpty(obj.character))
                        {
                            @:- @obj.character
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<p></p>

<h4>Credits - TV:</h4>

<p></p>

<table class="siteTheme" style="width:100%">
    <thead>
        <tr>
            <th class="siteTheme">
                Poster:
            </th>
            <th class="siteTheme">
                Year:
            </th>
            <th class="siteTheme">
                Title/Role:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.TMDBData.CombinedCreditsByPersonId.cast.Where(item => item.media_type == "tv").OrderByDescending(item => item.first_air_date))
        {
            @if (!string.IsNullOrEmpty(obj.first_air_date))
            {
                <tr>
                    <td class="siteTheme" style="width:58px; text-align: center;">
                        @{
                            string filmPosterUrl = "https://image.tmdb.org/t/p/original" + obj.poster_path;

                            <a href="@Url.Action("GetUserTVSelectionById", "Movie", new { id = obj.id })">

                                @if (string.IsNullOrEmpty(obj.poster_path))
                                {
                                    <img id="Cinema.jpg" class="personCreditsImgSize" src="~/Images/Cinema.jpg" />
                                }
                                else
                                {
                                    <img src="@filmPosterUrl" class="personCreditsImgSize" />
                                }

                            </a>
                        }
                    </td>
                    <td class="siteTheme" style="width: 45px;">
                        @{
                            @Convert.ToDateTime(obj.first_air_date).Year.ToString();
                        }
                    </td>
                    <td class="siteTheme">
                        <b>@obj.name</b><br />

                        @if (!string.IsNullOrEmpty(obj.character))
                        {
                            @:- @obj.character
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>