@model Media;

@{
    ViewData["Title"] = "My Watched Media:";
}

<h2>My Watched Media:</h2>

<p></p>

<h4>Films:</h4>

<p></p>

<table class="siteTheme" style="width:100%">
    <thead>
        <tr>
            <th class="siteTheme">
                Poster:
            </th>
            <th class="siteTheme">
                Title:
            </th>
            <th class="siteTheme">
                Year:
            </th>
            <th class="siteTheme">
                Genre(s):
            </th>
            <th class="siteTheme">
                Qty:
            </th>
            <th class="siteTheme">
                First Watched:
            </th>
            <th class="siteTheme">
                Last Watched:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.WatchedMediaResults.WatchedFilms)
        {
            <tr>
                <td class="siteTheme" style="width:77px;">
                    @{
                        string url = "https://image.tmdb.org/t/p/original" + obj.ResultReturn.FilmIdResult.poster_path;

                        <a href="@Url.Action("GetUserFilmSelectionById", "Movie", new { id = obj.ResultReturn.FilmIdResult.id })">

                            @if (string.IsNullOrEmpty(obj.ResultReturn.FilmIdResult.poster_path))
                            {
                                <img id="Cinema.jpg" class="myWatchedMediaImgSize" src="~/Images/Cinema.jpg" />
                            }
                            else
                            {
                                <img src="@url" class="myWatchedMediaImgSize" border="1" />
                            }

                        </a>
                    }
                </td>
                <td class="siteTheme">
                    @obj.ResultReturn.FilmIdResult.original_title <br />
                </td>
                <td class="siteTheme" style="text-align: center; width:50px;">
                    @{
                        if (!string.IsNullOrEmpty(obj.ResultReturn.FilmIdResult.release_date))
                        {
                            @Convert.ToDateTime(obj.ResultReturn.FilmIdResult.release_date).Year.ToString()
                            ;
                        }
                    }
                </td>
                <td class="siteTheme" style="width:200px;">
                    @String.Join(", ", obj.ResultReturn.FilmIdResult.genres.Select(x => x.name).ToArray())
                </td>
                <td class="siteTheme" style="text-align: center; width:40px;">
                    @obj.WatchedMedia.WatchedQty.ToString()
                </td>
                <td class="siteTheme" style="text-align: center; width:92px;">
                    @obj.WatchedMedia.FirstWatched.ToString()
                </td>
                <td class="siteTheme" style="text-align: center; width:92px;">
                    @obj.WatchedMedia.LastWatched.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>

<p></p>

<h4>TV:</h4>

<p></p>

<table class="siteTheme" style="width:100%">
    <thead>
        <tr>
            <th class="siteTheme">
                Poster:
            </th>
            <th class="siteTheme">
                Title:
            </th>
            <th class="siteTheme">
                Year:
            </th>
            <th class="siteTheme">
                Genre(s):
            </th>
            <th class="siteTheme">
                Qty:
            </th>
            <th class="siteTheme">
                First Watched:
            </th>
            <th class="siteTheme">
                Last Watched:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.WatchedMediaResults.WatchedTV)
        {
            <tr>
                <td class="siteTheme" style="width:77px;">
                    @{
                        string url = "https://image.tmdb.org/t/p/original" + obj.ResultReturn.TvIdResult.poster_path;

                        <a href="@Url.Action("GetUserTVSelectionById", "Movie", new { id = obj.ResultReturn.TvIdResult.id })">

                            @if (string.IsNullOrEmpty(obj.ResultReturn.TvIdResult.poster_path))
                            {
                                <img id="Cinema.jpg" class="myWatchedMediaImgSize" src="~/Images/Cinema.jpg" />
                            }
                            else
                            {
                                <img src="@url" class="myWatchedMediaImgSize" border="1" />
                            }

                        </a>
                    }
                </td>
                <td class="siteTheme">
                    @obj.ResultReturn.TvIdResult.name
                </td>
                <td class="siteTheme" style="text-align: center; width:50px;">
                    @{
                        if (!string.IsNullOrEmpty(obj.ResultReturn.TvIdResult.first_air_date))
                        {
                            @Convert.ToDateTime(obj.ResultReturn.TvIdResult.first_air_date).Year.ToString()
                        }
                    }
                </td>
                <td class="siteTheme" style="width:200px;">
                    @String.Join(", ", obj.ResultReturn.TvIdResult.genres.Select(x => x.name).ToArray())
                </td>
                <td class="siteTheme" style="text-align: center; width:40px">
                    @obj.WatchedMedia.WatchedQty.ToString()
                </td>
                <td class="siteTheme" style="text-align: center; width:92px;">
                    @obj.WatchedMedia.FirstWatched.ToString()
                </td>
                <td class="siteTheme" style="text-align: center; width:92px;">
                    @obj.WatchedMedia.LastWatched.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>