@using TmdbApi.Lib.Models;

@model Media;

@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-action="MarkAsWatched">

    @{
        Model.SelectedContentType = "TV";
    }

    <input type="hidden" asp-for="@Model.SelectedTMDBId" />
    <input type="hidden" asp-for="@Model.SelectedContentType" />

    <button type="submit" class="btn btn-primary">Mark At Watched<i class="bi bi-filter"></i></button>

</form>

<p></p>

@{
    string url = "https://image.tmdb.org/t/p/original" + Model.TMDBData.TVIdResult.poster_path;

    @if (string.IsNullOrEmpty(Model.TMDBData.TVIdResult.poster_path))
    {
        <img id="Cinema.jpg" class="filmTvDetailPosterImgSize" src="~/Images/Cinema.jpg" />
    }
    else
    {
        <img src="@url" class="filmTvDetailPosterImgSize" />
    }
}

<p></p>

<h3>@Model.TMDBData.TVIdResult.name</h3>

<p></p>

@{
    if (!string.IsNullOrEmpty(Model.TMDBData.TVIdResult.first_air_date))
    {
        <li>First Air Date: @Convert.ToDateTime(Model.TMDBData.TVIdResult.first_air_date).Year.ToString()</li>
    }
}

<li>Vote Average: @Math.Round(Model.TMDBData.TVIdResult.vote_average, 1)</li>
<li>Genres: @String.Join(", ", Model.TMDBData.TVIdResult.genres.Select(x => x.name).ToArray())</li>

@{
    if (!string.IsNullOrEmpty(Model.TMDBData.TVIdResult.tagline))
    {
        <li>Tagline: @Model.TMDBData.TVIdResult.tagline</li>
    }
}

<p></p>

<h4>Overview:</h4>

<p></p>

@Model.TMDBData.TVIdResult.overview