@using TmdbApi.Lib.Models;

@model ResultReturn;

@{
    ViewData["Title"] = "Home Page";
}

@{
    string url = "https://image.tmdb.org/t/p/original" + Model.FilmIdResult.poster_path;

    @if (string.IsNullOrEmpty(Model.FilmIdResult.poster_path))
    {
        <img id="Cinema.jpg" class="filmTvDetailPosterImgSize" src="~/Images/Cinema.jpg" />
    }
    else
    {
        <img src="@url" class="filmTvDetailPosterImgSize" />
    }
}

<p></p>

<h3>@Model.FilmIdResult.original_title</h3>

<p></p>

@{
    if(!string.IsNullOrEmpty(Model.FilmIdResult.release_date))
    {
        <li>Release Year: @Convert.ToDateTime(Model.FilmIdResult.release_date).Year.ToString()</li>
    }
}

<li>Vote Average: @Math.Round(Model.FilmIdResult.vote_average, 1)</li>
<li>Runtime: @Model.FilmIdResult.runtime.ToString() mins</li>
<li>Genres: @String.Join(", ", Model.FilmIdResult.genres.Select(x => x.name).ToArray())</li>

@{
    if (!string.IsNullOrEmpty(Model.FilmIdResult.tagline))
    {
        <li>Tagline: @Model.FilmIdResult.tagline</li>
    }
}

<p></p>

<h4>Overview:</h4>

<p></p>

@Model.FilmIdResult.overview

<p></p>

<h4>Main Cast:</h4>

@{
    List<Cast> castColl;

    if (Model.CreditsByFilmId.cast.Count() > 15)
    {
        castColl = Model.CreditsByFilmId.cast.OrderBy(item => item.order).Take(15).ToList();
    }
    else
    {
        castColl = Model.CreditsByFilmId.cast.OrderBy(item => item.order).ToList();
    }

    foreach (Cast cast in castColl)
    {
        <div class="inner_block">
            <table>
                <tr>
                    <td>
                        @cast.name
                    </td>
                </tr>
                <tr>
                    <td>
                        @{
                            string castUrl = "https://image.tmdb.org/t/p/original" + cast.profile_path;

                            @if (string.IsNullOrEmpty(cast.profile_path))
                            {
                                <img id="Cinema.jpg" class="castImgSize" src="~/Images/Cinema.jpg" />
                            }
                            else
                            {
                                <img src="@castUrl" class="castImgSize" />
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        @cast.character
                    </td>
                </tr>
            </table>
        </div>
    }
}