@using TmdbApi.Lib.Models;

@model ResultReturn;

@{
    ViewData["Title"] = "Home Page";
}

@{
    string url = "https://image.tmdb.org/t/p/original" + Model.FilmIdResult.poster_path;

    @if (string.IsNullOrEmpty(Model.FilmIdResult.poster_path))
    {
        <img id="Cinema.jpg" class="imgCentre" src="~/Images/Cinema.jpg" width="20%" height="20%" />
    }
    else
    {
        <img src="@url" width="20%" height="20%" />
    }
}

<p></p>

<h3>@Model.FilmIdResult.original_title</h3>

<p></p>

@{
    if(!string.IsNullOrEmpty(Model.FilmIdResult.release_date))
    {
        <li>Release Year: @Convert.ToDateTime(Model.FilmIdResult.release_date).Year.ToString()</li>
    }
}

<li>Vote Average: @Math.Round(Model.FilmIdResult.vote_average, 1)</li>
<li>Runtime: @Model.FilmIdResult.runtime.ToString() mins</li>
<li>Genres: @String.Join(", ", Model.FilmIdResult.genres.Select(x => x.name).ToArray())</li>

@{
    if (!string.IsNullOrEmpty(Model.FilmIdResult.tagline))
    {
        <li>Tagline: @Model.FilmIdResult.tagline</li>
    }
}

<p></p>

<h4>Overview:</h4>

<p></p>

@Model.FilmIdResult.overview