@using TmdbApi.Lib.Enum

@model Media;

@{
    ViewData["Title"] = @Model.TMDBData.PersonIdResult.name;

    Gender gender = (Gender)Model.TMDBData.PersonIdResult.gender;

    string dob = "Unknown";

    if (!string.IsNullOrEmpty(Model.TMDBData.PersonIdResult.birthday))
    {
        DateTime zeroTime = new DateTime(1, 1, 1);

        TimeSpan span = DateTime.Now - Convert.ToDateTime(Model.TMDBData.PersonIdResult.birthday);

        int years = (zeroTime + span).Year - 1;

        dob = string.Format("{0} ({1} years old)", Convert.ToDateTime(Model.TMDBData.PersonIdResult.birthday).ToString("dd/MM/yyyy"), years.ToString());
    }
}

<h3>@Model.TMDBData.PersonIdResult.name</h3>

<p></p>

@{
    string url = string.Empty;

    url = "https://image.tmdb.org/t/p/original" + @Model.TMDBData.PersonIdResult.profile_path;

    @if (string.IsNullOrEmpty(Model.TMDBData.PersonIdResult.profile_path))
    {
        <img id="Cinema.jpg" class="filmTvDetailPosterImgSize" src="~/Images/Cinema.jpg" />
    }
    else
    {
        <img src="@url" class="filmTvDetailPosterImgSize" />
    }
}

<p></p>

<li>Known For: @Model.TMDBData.PersonIdResult.known_for_department</li>
<li>Gender: @gender</li>
<li>Date Of Birth: @dob</li>
<li>Place Of Birth: @Model.TMDBData.PersonIdResult.place_of_birth</li>

<p></p>

<h4>Biography:</h4>

<p></p>

@Model.TMDBData.PersonIdResult.biography