@using TmdbApi.Lib.Models;

@model Media;

@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-action="MarkAsWatched">

    @{
        Model.SelectedContentType = "TV";
    }

    <input type="hidden" asp-for="@Model.SelectedTMDBId" />
    <input type="hidden" asp-for="@Model.SelectedContentType" />

    <button type="submit" class="btn btn-primary">Mark As Watched<i class="bi bi-filter"></i></button>

</form>

<p></p>

@{
    string url = "https://image.tmdb.org/t/p/original" + Model.TMDBData.TvIdResult.poster_path;

    @if (string.IsNullOrEmpty(Model.TMDBData.TvIdResult.poster_path))
    {
        <img id="Cinema.jpg" class="filmTvDetailPosterImgSize" src="~/Images/Cinema.jpg" />
    }
    else
    {
        <img src="@url" class="filmTvDetailPosterImgSize" />
    }
}

<p></p>

<h3>@Model.TMDBData.TvIdResult.name</h3>

<p></p>

@{
    if (!string.IsNullOrEmpty(Model.TMDBData.TvIdResult.first_air_date))
    {
        <li>First Air Date: @Convert.ToDateTime(Model.TMDBData.TvIdResult.first_air_date).Year.ToString()</li>
    }
}

<li>Vote Average: @Math.Round(Model.TMDBData.TvIdResult.vote_average, 1)</li>
<li>Genres: @String.Join(", ", Model.TMDBData.TvIdResult.genres.Select(x => x.name).ToArray())</li>

@{
    if (!string.IsNullOrEmpty(Model.TMDBData.TvIdResult.tagline))
    {
        <li>Tagline: @Model.TMDBData.TvIdResult.tagline</li>
    }
}

<p></p>

<h4>Overview:</h4>

<p></p>

@Model.TMDBData.TvIdResult.overview

<p></p>

<h4>Main Cast:</h4>

@{
    List<Cast> castColl;

    if (Model.TMDBData.CreditsByTvId.cast.Count() > 15)
    {
        castColl = Model.TMDBData.CreditsByTvId.cast.OrderBy(item => item.order).Take(15).ToList();
    }
    else
    {
        castColl = Model.TMDBData.CreditsByTvId.cast.OrderBy(item => item.order).ToList();
    }

    foreach (Cast cast in castColl)
    {
        <div class="inner_block">
            <table>
                <tr>
                    <td>
                        <div class="castInfoContainer">
                            @cast.name
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @{
                            string castUrl = "https://image.tmdb.org/t/p/original" + cast.profile_path;

                            <a href="@Url.Action("GetUserPersonSelectionById", "Movie", new { id = cast.id })">

                                @if (string.IsNullOrEmpty(cast.profile_path))
                                {
                                    <img id="Cinema.jpg" class="castImgSize" src="~/Images/Cinema.jpg" />
                                }
                                else
                                {
                                    <img src="@castUrl" class="castImgSize" />
                                }

                            </a>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="castInfoContainer">
                            @cast.character
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    }
}