@using TmdbApi.Lib.Models;

@model Media;

@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-action="MarkAsWatched">

    @{
        Model.SelectedContentType = "Film";
    }

    <input type="hidden" asp-for="@Model.SelectedTMDBId" />
    <input type="hidden" asp-for="@Model.SelectedContentType" />

    <button type="submit" class="btn btn-primary">Mark As Watched<i class="bi bi-filter"></i></button>

</form>

<p></p>

@{
    string url = "https://image.tmdb.org/t/p/original" + Model.TMDBData.FilmIdResult.poster_path;

    @if (string.IsNullOrEmpty(Model.TMDBData.FilmIdResult.poster_path))
    {
        <img id="Cinema.jpg" class="filmTvDetailPosterImgSize" src="~/Images/Cinema.jpg" />
    }
    else
    {
        <img src="@url" class="filmTvDetailPosterImgSize" />
    }
}

<p></p>

<h3>@Model.TMDBData.FilmIdResult.original_title</h3>

<p></p>

@{
    if (!string.IsNullOrEmpty(Model.TMDBData.FilmIdResult.release_date))
    {
        <li>Release Year: @Convert.ToDateTime(Model.TMDBData.FilmIdResult.release_date).Year.ToString()</li>
    }
}

<li>Vote Average: @Math.Round(Model.TMDBData.FilmIdResult.vote_average, 1)</li>
<li>Runtime: @Model.TMDBData.FilmIdResult.runtime.ToString() mins</li>
<li>Genres: @String.Join(", ", Model.TMDBData.FilmIdResult.genres.Select(x => x.name).ToArray())</li>

@{
    if (!string.IsNullOrEmpty(Model.TMDBData.FilmIdResult.tagline))
    {
        <li>Tagline: @Model.TMDBData.FilmIdResult.tagline</li>
    }
}

<p></p>

<h4>Overview:</h4>

<p></p>

@Model.TMDBData.FilmIdResult.overview

<p></p>

<h4>Main Cast:</h4>

@{
    List<Cast> castColl;

    if (Model.TMDBData.CreditsByFilmId.cast.Count() > 15)
    {
        castColl = Model.TMDBData.CreditsByFilmId.cast.OrderBy(item => item.order).Take(15).ToList();
    }
    else
    {
        castColl = Model.TMDBData.CreditsByFilmId.cast.OrderBy(item => item.order).ToList();
    }

    foreach (Cast cast in castColl)
    {
        <div class="inner_block">
            <table>
                <tr>
                    <td>
                        <div class="castInfoContainer">
                            @cast.name
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @{
                            string castUrl = "https://image.tmdb.org/t/p/original" + cast.profile_path;

                            @if (string.IsNullOrEmpty(cast.profile_path))
                            {
                                <img id="Cinema.jpg" class="castImgSize" src="~/Images/Cinema.jpg" />
                            }
                            else
                            {
                                <img src="@castUrl" class="castImgSize" />
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="castInfoContainer">
                            @cast.character
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    }
}