@using TmdbApi.Lib.Models;

@model Media;

@{
    ViewData["Title"] = "MoviesNowPlaying";
}

<form method="post" asp-action="Index">

    <label>Keyword: (Search for a movie, tv show)</label>
    <input asp-for="Keyword" class="form-control" style="width:400px" />

    <br />

    <button type="submit" class="btn btn-primary">Search<i class="bi bi-filter"></i></button>

</form>

<p></p>

<h4>Movies Now Playing:</h4>

<p></p>

@{
    if (Model.TMDBData.MoviesNowPlaying.results.Count() != 0)
    {

        @foreach (var obj in Model.TMDBData.MoviesNowPlaying.results)
        {
            if(obj.original_language == "en")
            {
                <div class="inner_block">
                    <table>
                        <tr>
                            <td>
                                @{
                                    if (!string.IsNullOrEmpty(obj.release_date))
                                    {
                                        DateTime releaseDate = Convert.ToDateTime(obj.release_date);

                                        <span>@obj.original_title (@releaseDate.Year)</span>
                                    }
                                    else
                                    {
                                        <span>@obj.original_title</span>
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @{
                                    string url = string.Empty;

                                    url = "https://image.tmdb.org/t/p/original" + obj.poster_path;

                                    <a href="@Url.Action("GetUserFilmSelectionById", "Movie", new { id = obj.id })">

                                        @if (string.IsNullOrEmpty(obj.poster_path))
                                        {
                                            <img id="Cinema.jpg" class="filmTvPosterImgSize" src="~/Images/Cinema.jpg" />
                                        }
                                        else
                                        {
                                            <img src="@url" class="filmTvPosterImgSize" />
                                        }

                                    </a>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            }
        }
    }
}